@media screen and (max-width: 768px)
    .header-wrapper
        display: none
    .menu-wrapper
        padding: 0 10px
        .list-menu
            max-width: 100%
            overflow: auto
            li
                transform: none
        .bascket-menu
            display: none
    .mobile-basket
        display: block
    .index-wrapper
        padding: 0 10px
        .carousel-full
            display: none
        .carousel-mobile
            display: block
            .owl-theme .owl-nav.disabled + .owl-dots
                position: absolute
                left: 0
                right: 0
                bottom: 20px
                span
                    opacity: 0.7
            img
                border-radius: 15px
            p
                text-align: center
    .head-product
        padding-left: 0
    #drink, #zakuski, #souse
        .product-wrapper
             .structure-product
                min-height: 0
    .product-wrapper
        margin-top: 0
        .product-item
            position: relative
            padding: 25px 0
            width: 100%
            display: flex
            flex-wrap: wrap
        .images-product
            position: absolute
            width: 55%
            left: -18%
            top: 10px
        .desc-product
            width: 60%
            padding-left: 40%
            .title-product
                line-height: 1.1
        .price-product-wrapper
            width: 60%
            padding-left: 40%
        .product-item-mobile
            .images-product
                width: 40%
                left: -2%
        .product-delivery
            margin: 15px 0
            p
                font-size: 1.2em

    .footer-wrapper
        .container
            padding: 15px 0
            flex-direction: column
            text-align: center
        .text-social
            line-height: 1.1
        .list-social
            justify-content: center
            margin-top: 15px
        .footer-menu
            padding: 15px 10px
        .footer-list-menu
            display: flex
            ul
                width: 50%
                &:nth-child(2)
                    margin-left: 0
        .footer-list-number
            margin-top: 15px

    .pizza-select-wrapper
        .pizza-select
            position: absolute
            top: 0
            right: 0
            width: calc(100% - 50px)
            padding: 25px
        .close-select
            opacity: 1
            padding: 8px
            display: block
            background-color: #fff
            border-radius: 50%
            box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px
        .pizza-add-button
            .btn
                padding: 15px 35px

    //Стили для мобильной шапки заказов
    .layout-head-wrapper
        display: none
    .mobile-layout-header
        display: block

    //Стили для подвала заказов
    .layout-footer-number
        text-align: center

    //Стили для корзины заказов
    .basket-container
        width: calc(100% - 20px)
        padding: 0 10px
        h1
            font-size: 1.9em
    .layout-basket-list
        li
            flex-wrap: wrap
        .layout-bsk-image-array
            width: 85px
            .layout-bsk-image-left, .layout-bsk-image-right
                width: 40px
                height: 84px
        .layout-bsk-del
            display: none
        .layout-bsk-image
            width: 25%
            img
                width: 100%
                height: auto
        .layout-bsk-info
            width: calc(75% - 15px)
            margin-left: 15px
            margin-bottom: 10px
            flex: none
        .layout-bsk-counter
            width: 60%
            text-align: right
            a
                padding: 0
                height: 30px
        .layout-bsk-total
            width: 40%
            text-align: right
    .promocode-wrapper 
        justify-content: space-between
        .promo-message
            width: 100%
            text-align: center
            margin-top: 10px
    .layout-button
        .btn
            padding: 12px 18px

    //Стили для оформления заказа
    .layout-order
        .basket-container
            width: calc(100% - 20px)

    //Стили для результата
    .layout-result
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .basket-container
            width: calc(100% - 20px)

    //Стили страницы акции
    .action-page
        margin: 5px 0
        .action-list
            margin: 5px 0
        .item-action
            margin: 15px 0
            width: calc(100%)

    //Стили страницы контакты
    .contact-page
        .contact-info
            display: block
            margin: 8px 0

    // Стили для выбора двух пицц
    .two-select-pizza-wrapper 
        .two-pizza-window
            padding-top: 10px
            flex-direction: column
            width: calc(100% - 50px)
            margin: 0 10px
            transform: translateY(-140px)
            &:hover
                transform: translateY(-140px)
            .head-two-desc
                margin-top: 0
                line-height: 1.2
                font-size: 1.2rem
        .two-pizza-window-open
            transform: translateY(-100%) !important
        .two-pizza-window-invisible
            transform: translateY(50px) !important
        .two-pizza-image
            display: none
        .full-two-pizza
            width: calc(50% - 20px)
        .two-pizza-close
            display: none
        .two-pizza-open
            display: block
            text-align: center
            img
                width: 25px
                height: auto
                transition: all 0.3s
        .two-pizza-open-open
            img
                transform: rotate(180deg)
        .subhead-two-desc
            margin: 10px 0 15px
        .full-two-left
            margin-left: 0
        .full-two-right
            margin-right: 0
        .pizza-close-button
            display: block
    

