$red: #EE3524
$red-hover: #c5281c
$green: #62883d
$grey-simple: #878787
$black: #212121
$grey: #999
    
body
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
    margin: 0
    padding: 0
    color: $black
.container
    max-width: 1280px
    margin: 0 auto

.btn 
    display: inline-block
    padding: 8px 24px
    text-decoration: none
    border-radius: 10px
.btn-product
    color: $red
    border: 1px solid $red
    transition: all 0.3s
    &:hover
        color: #fff
        background-color: $red
//Стили шапки сайта
.header-wrapper
    padding: 15px 0 5px
    .container
        display: flex
        flex-direction: row
        align-items: center
    .logo-header, .number-header, .text-header
        width: 33.33%

    .logo-header
        img
            height: 50px
    .text-header
        font-family: 'Nunito'
        text-align: center
        font-size: 1.2em
        text-transform: uppercase
        font-weight: 700
        p
            padding: 0
            margin: 0
            span
                color: $red
                font-weight: 500
    .number-header
        text-align: right
        a
            color: $black
            text-decoration: none
            font-size: 1.4em
        p
            padding: 0
            margin: 0
            font-weight: 500
            font-size: 1em
            color: $grey

//Стил меню
.menu-wrapper
    position: sticky
    background-color: #fff
    top: 0
    border-bottom: 1px solid #fff
    z-index: 100
    transition: border 0.3s
    .container
        overflow: hidden
        display: flex
        align-items: center
        justify-content: space-between
    .list-menu
        list-style: none
        padding: 10px 0
        margin: 0
        display: flex
        align-items: center
        transform: translateX(-45px)
        transition: transform 0.5s
        a.menu-image
            margin-left: 0
        a
            font-weight: 500
            margin-left: 20px
            text-decoration: none
            color: $black
            transition: color 0.3s
            img
                height: 35px
                width: auto
            &:hover
                color: $red
    .bascket-menu
        text-align: right
        .bascket-block
            display: inline-block
            color: #ffffff
            text-decoration: none
            padding: 10px 16px
            background-color: $red
            border-radius: 10px
            transition: all 0.3s
            &:hover
                background-color: $red-hover
        span
            margin-left: 7px
            padding-left: 12px 
            border-left: 1px solid #fff 
.list-menu-visible
    border-bottom: 1px solid #DCDCDC
    .list-menu
        transform: translateX(0)

//Главная страница
.index-wrapper
    .carousel-full
        .owl-theme .owl-dots
            position: absolute
            bottom: 10px
            left: 0
            right: 0
            opacity: 0
            transition: opacity 0.3s
            span
                opacity: 0.7
                width: 15px
                height: 15px
            .owl-dot
                outline: none
        &:hover
            .owl-theme .owl-dots
                opacity: 1

//Стили компонента пицца
.product-wrapper
    margin-top: 25px
    display: flex
    flex-wrap: wrap
    .product-item
        padding: 35px 15px
        width: calc(25% - 30px)
    .images-product
        display: block
        position: relative
        background-image: url(/images/pizza-simple.svg)
        background-size: cover
        background-repeat: no-repeat
        transition: transform 0.3s
        &:before
            content: ""
            display: block
            padding-top: 100%
        &:hover
            transform: scale(1.1)
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: auto 
    .desc-product
        position: relative
        z-index: 10  
    .title-product
        font-family: 'Nunito'
        margin: 0 0 7px
        font-size: 1.35em
        font-weight: 600
        letter-spacing: -1px;
    .structure-product
        color: $grey-simple
        margin: 7px 0 25px
    .price-product-wrapper
        display: flex
        align-items: center
        justify-content: space-between
        .price-broduct
            font-family: 'Nunito'
            font-size: 1.35em
            font-weight: 600


